@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    border-bottom: #341f97;
    justify-content: center;
    font-style: italic;
    text-transform: uppercase;
}

header button {
    margin-left: 16px;
}

form {
    display: none;
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px;
}

button {
    background-color: #059c37;
    color: #fff;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

input,button {
    padding: 8px;
}

#botao-cancelar {
    background-color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    max-height: 280px;
    overflow-y: hidden;
    position: relative;
}

ul li img {
    width: 100%;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}

.overlay-imagem-link {
    padding: 16px 0;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease .5s;
    text-align: center;
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

